
.Page{
    height: 60rem;
    background-image: url("../Imagenes/pasteles.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: white;

}



.Button{
position:absolute;
top:10.5rem;
right:1rem;
}
